<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="db.properties">
	</properties>
	<typeAliases>
		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.sist.vo.MusicVO" alias="MusicVO" />
		<typeAlias type="com.sist.vo.ArtistVO" alias="ArtistVO" />
		<typeAlias type="com.sist.vo.AlbumVO" alias="AlbumVO" />
		<typeAlias type="com.sist.vo.MovieVO" alias="MovieVO" />
		<typeAlias type="com.sist.vo.BookVO" alias="BookVO" />
		<typeAlias type="com.sist.vo.NoticeBoardVO" alias="NoticeBoardVO" />
		<typeAlias type="com.sist.vo.ReplyBoardVO" alias="ReplyBoardVO" />
		<typeAlias type="com.sist.vo.AlStoreVO" alias="AlStoreVO" />
		<typeAlias type="com.sist.vo.MovieLikeVO" alias="MovieLikeVO"/>
		<typeAlias type="com.sist.vo.MreviewVO" alias="MreviewVO"/>
	
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/mapper/member_mapper.xml" />
		<mapper resource="com/sist/mapper/music_mapper.xml" />
		<mapper resource="com/sist/mapper/movie_mapper.xml" />
		<mapper resource="com/sist/mapper/book_mapper.xml" />
		<mapper resource="com/sist/mapper/replyboard-mapper.xml" />
		<mapper resource="com/sist/mapper/noticeboard-mapper.xml"/>
		<mapper resource="com/sist/mapper/alstore_mapper.xml" />
		<mapper resource="com/sist/mapper/movielike_mapper.xml"/>
		<mapper resource="com/sist/mapper/mreview_mapper.xml"/>
	</mappers>
</configuration>