<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.alstore_mapper">
	<select id="alStoreListData" resultType="com.sist.vo.AlStoreVO"
		parameterType="hashmap">
		SELECT ano, aname, aprice, adisprice, aphoto, aartist, TO_CHAR(ardate, 'YY-MM-DD') AS aldate, num
		FROM (SELECT ano, aname, aprice, adisprice, aphoto, aartist, ardate, rownum AS num
		FROM (SELECT ano, aname, aprice, adisprice, aphoto, aartist, ardate
		FROM
		ALBUM_STORE
		ORDER BY ano ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>

	<select id="alStoreTotalPage" resultType="int"
		parameterType="hashmap">
		SELECT CEIL(COUNT(*)/20.0) FROM ALBUM_STORE
	</select>
	<select id="alstoreListCount" resultType="int">
		SELECT COUNT(*) FROM
		ALBUM_STORE
	</select>
	<select id="alStoreDetailData" parameterType="int"
		resultType="com.sist.vo.AlStoreVO">
		SELECT ano, arating, aphoto, aname, aartist,
				REPLACE(REPLACE(aprice, ',', ''), '원', '') AS aprice,
				adis,
				REPLACE(REPLACE(adisprice, ',', ''), '원', '') AS adisprice,
				aimg, aintro, adetail, acategory, 
				TO_CHAR(ardate, 'YY-MM-DD') AS aldate
		FROM ALBUM_STORE
		WHERE ano = #{ano}
	</select>
	<select id="alStoreRandom" resultType="AlstoreVO">
		SELECT * FROM
		(SELECT * FROM album_store order by DBMS_RANDOM.RANDOM)
		WHERE rownum&lt;=4
	</select>

</mapper>