<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mreserve_mapper">
<select id="movieTitleData" resultType="MovieVO">
SELECT mno, mtitle, mposter, mgrade, mstate, mrate
FROM movie WHERE mstate LIKE '1' AND mno IN (SELECT mno FROM movie_schedule)
ORDER BY mno ASC 
</select>
<select id="movieTlocData" resultType="String"  parameterType="int">
	SELECT DISTINCT tloc
	 FROM theater
	WHERE tno IN (SELECT DISTINCT tno FROM movie_schedule WHERE mno=#{mno})
</select>
<select id="movieTnameData" resultType="String"  parameterType="String">
	SELECT tname 
	FROM theater WHERE tloc LIKE '%'||#{tloc}||'%' 
</select>
<select id="movieTnoData2" resultType="int" parameterType="hashmap">
 SELECT tno FROM theater WHERE tloc LIKE '%'||#{tloc}||'%' AND tname LIKE '%'||#{tname}||'%'
</select>
<select id="movieTdnoData" resultType="int" parameterType="int">
 SELECT DISTINCT tdno FROM theater_detail WHERE tno=#{tno} ORDER BY tdno ASC                       
</select>
<resultMap type="com.sist.vo.MscheduleVO" id="mscheduleMap">
 	<result property="msno" column="msno"/>
  <result property="mno" column="mno"/>
  <result property="tno" column="tno"/>
  <result property="tdvo.tdno" column="tdno"/>
  <result property="tdvo.tdname" column="tdname"/>
  <result property="mstime" column="mstime"/>
  <result property="msdate" column="msdate"/>
  </resultMap>
<select id="mscheduleData" resultMap="mscheduleMap" parameterType="hashmap">
  SELECT ms.msno, ms.mno, ms.tno, td.tdno, td.tdname, ms.mstime, TO_CHAR(ms.msdate, 'YYYY-MM-DD') AS msday
  FROM movie_schedule ms
   JOIN theater_detail td ON ms.tdno = td.tdno
   WHERE ms.mno=#{mno} AND td.tdno=#{tdno} AND TO_CHAR(ms.msdate, 'YYYY-MM-DD') = #{rdate} 
    ORDER BY ms.msno ASC
</select>
<insert id="reserveInsert" parameterType="ReserveVO">
   INSERT INTO reserve(rno, id, mno, mtitle, tdname, tname, day, time, inwon)
   VALUES(rs_rno_seq.nextval,#{id},#{mno},#{mtitle},#{tdname},#{tname},#{day},#{time},#{inwon})
  </insert>
</mapper>